<div class="noquestion">
  <img src="/img/noquestion.svg" alt="Sem perguntas">
  <p>Não há perguntas por aqui...</p>
  <p>Faça sua primeira pergunta e envie o <br> código dessa sala para outras pessoas!</p>
</div>